// @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import '../styles/variable.scss';

a, span {
    font-size: 0.875rem;
}

.main {
    width: 58.44rem;
    display: flex;
    margin: 0 auto;
    padding: 5rem 0;
}

.feeds {
    width: 38.38rem;
    justify-content: center;
}

.enabledBtn {
    color: $enabled;
    cursor: pointer;
}

.disabledBtn {
    color: $disabled;
    cursor: default;
}

@media (max-width: 1078px) {
    .main {
        justify-content: center;
    }

}
