li {
  span {
    margin: 0 0.3125rem;
  }

  .likeHeart {
      margin: 0.15rem 0.2rem 0.15rem 0rem;
      float: right;
      font-size: 0.85rem;
  }

  .deleteComment {
      float: right;
      font-size: 1rem;
  }

  .likeComment {
    color: #ed4956;
  }
}