@import '../styles/variable.scss';

.mainRight {
    width: 18.31rem;
    position: fixed;
    left: 55.44rem;
    top: 5.5rem;
    padding-left: 0.3125rem;
    z-index: -1;

    .account {
        display: flex;
        padding: 1.25rem 0;
        align-items: center;

        a {
            color: $enabled;
            font-size: 0.75rem;
        }

        img {
            width: 3.5rem;
            border-radius: 50%;
        }

        .idWrap {
            width: 100%;

            span{
                margin: 0 0.625rem;
            }

            a {
                float: right;
            }
        }
    }

    .recommendList {

        span {
            display: flex;
            justify-content: space-between;

            span:first-child {
                color: $gray;
            }
        }

        .recommendForUser {
            padding-bottom: 0.625rem;

            a {
                font-size: 0.75rem;
            }
        }

        .follow {
            color: $enabled;
            font-size: 0.75rem;
        }

    }
}

@media (max-width: 1078px) {
    .mainRight {
        display: none;
    }
}
