@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
// @import url("//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

.loginJW {
  height: 100vh;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.03);

  .main_box {
    width: 400px;
    margin: 0 auto;
    padding: 60px 0 40px;
    border: 1.5px solid #ddd;
    text-align: center;
    background-color: #fff;

    .main_text {
      font-size: 50px;
      font-family: "Lobster", cursive;
      margin-bottom: 30px;
    }

    .login_id {
      @extend %login;
      input {
        @extend %input;
      }
    }

    .login_pw {
      @extend %login;

      input {
        @extend %input;
      }
    }

    button {
      width: 270px;
      margin-top: 8px;
      padding: 8px 0;
      border: 0;
      border-radius: 4px;
      color: #fff;
      font-size: 15px;
      font-weight: bolder;
      background-color: #0094f6;
      &:disabled {
        background-color: #0094f64b;
      }
    }
    // .btnActive {
    //   background-color: #0094f6;
    // }
    // .btnDisabled {
    //   background-color: #0094f64b;
    // }
  }
  .btn_p {
    margin-top: 80px;
  }
}

%login {
  width: 270px;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fafafa;
}

%input {
  width: 260px;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 8px;
  border: 0;
  background: none;
  outline: none;
}
