.feeds {
    width:100%;
    height:auto;
    border:1px solid #ddd;
    background-color:#fff;
    margin-top:30px;

    article {
        width:100%;
        height:auto;

        img {
            width:100%;
            height:auto;
        }
    }
}