@import '../styles/variable.scss';

nav {
    position: fixed;
    width: 100%;

    button:focus{ 	
        border: none;
        outline:none;
    }
}

.navBar {
    height: 3.375rem;
    background-color: $white;
    border-bottom: 1px solid $border;

    .navWrap {
        width: 58.44rem;
        height: 100%;
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
        }

        .logo {
            font-family: cursive, 'Lobster';
            margin: auto 0;
            margin-right: 5rem;
            color: $black;
            font-size: 1.5rem;
            font-weight: 600;
        }

    }
    @media (max-width: 1078px) {
        .navWrap {
            justify-content: space-evenly;
        }
    }

    @media (max-width: 768px) {
        .searchWrap {
            display: none;
        }
    }
}
