@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import '../Login/Login.scss';

.body {
  background-color: $background-color;

  article {
    position: relative;
    margin-left: 40px;
    width: 590px;
    height: auto;
    background-color: white;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 10px 10px;
      list-style: none;

      li img {
        display: inline-block;
        height: 30px;
        width: auto;
      }
    }
  }

  .nav {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: white;
    border-bottom: $main-border;
    z-index: 1;
    .NavLeft {
      display: flex;
      margin: 10px 0px 0px 40px;
      align-items: center;
      width: 30px;
      height: 30px;
      font-family: 'Lobster', cursive;
      font-size: 20px;
      .fa-instagram:before {
        content: '\f16d';
        margin-right: 5px;
      }
      .NavLeft i {
        margin-top: 5px;
        margin-right: 10px;
      }
    }
    .NavMid {
      display: flex;
      align-items: center;
      width: 50px;

      .NavMid input {
        width: 200px;
        height: 20px;
        margin-top: 15px;
        background-color: $background-color;
      }
    }
    .NavRight {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        height: 50px;
        li {
          display: inline-block;
          list-style: none;
          margin: 10px 10px;
          .icon {
            height: 30px;
            width: auto;
          }
          li img {
            display: inline-block;
            height: 30px;
            width: auto;
          }
        }
      }
    }
  }
  .main {
    display: flex;
    width: 900px;
    margin: auto;
    padding-top: 100px;

    .feed_top {
      width: 100%;
      height: 470px;
      border: $main-border;
    }

    .feed_comment {
      width: 100%;
      height: auto;
      border: $main-border;
    }
  }

  .profile_img_small {
    display: inline-block;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .profile_img {
    display: inline-block;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    .cat {
      display: inline-block;
    }
    .name {
      margin-left: 5px;
      font-weight: 700;
    }
  }
  .profile_img_big {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
  }
  .feed_img {
    overflow: hidden;
    height: 420px;
  }

  .feed {
    display: flex;
    align-items: center;
    height: 50px;
  }
  .feed_left {
    display: flex;
    width: 200px;
  }
  .feed_right {
    position: absolute;
    right: 0;
  }
  img .cat {
    border: solid;
    border-radius: 100px;
  }
  .feed_img img {
    height: 100%;
    width: auto;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
  }
  .icons_left {
    display: flex;
    justify-content: space-around;
    width: 120px;
    .fa-heart {
      color: red;
    }
  }
  .comment {
    padding-left: 10px;
    background-color: white;
  }
  button {
    border: none;
    background-color: white;
    padding: 0;
    color: $font-color;
    font-size: 15px;
  }
  .more {
    display: block;
    color: $font-color;
    text-decoration: none;
    font-size: 15px;
  }
  .nickname {
    margin-left: 5px;
    text-decoration: none;
  }
  .timeago {
    color: $font-color;
    font-size: 10px;
  }
  p {
    margin: 5px;
  }
  .input {
    display: flex;
    width: 590px;
    height: 56px;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    border: $main-border;
    justify-content: space-between;
    align-items: center;
  }
  .smlie {
    font-size: 30px;
  }
  .cmt {
    margin-left: 5px;
    width: 490px;
    height: 18px;
    border: none;
  }
  .main_right {
    margin-left: 10px;
    position: fixed;
    right: 240px;
    height: 510px;
    width: 290px;

    .my_id {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .subname {
        color: $font-color;
        font-size: 14px;
      }

      .option {
        color: rgba(var(--d69, 0, 149, 246), 1);
        font-size: 12px;
      }
    }
    .recommend {
      margin: 9px;
      display: flex;
      justify-content: space-between;
    }

    .friend {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .fas .fa-heart {
    color: red;
  }
  .hicat {
    width: 20px;
    height: 20px;
  }
  .term {
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: $background-color;
  }
  .repliy li {
    display: block;
  }
}
