@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing:border-box;
}

body {
    background-color:#fafafa;
}
 /* nav css */
nav {
    width:100%;
    height:55px;
    background-color:#fff;
    border-bottom :1px solid #ddd;
    position:fixed;
    top:0;
    z-index:10;

    ul{
        margin:auto;
        height:inherit;
        width:60%;
        display:flex;
        justify-content:space-between;
        align-items: center;

        li{
            .logo {
                font-family: 'Lobster', cursive;
                font-size:25px;
                margin-top:-5px;
            }
        }

        .search-wrap {
                position:relative;

            input {
                width:200px;
                height:30px;
                border:1px solid #ddd;
                background-color:#fafafa;
                outline:none;
                border-radius: 5px;
                &::placeholder {
                    text-align:center;
                }
            }

            svg {
                color:#888;
                font-size:12px;
                position:absolute;
                left:60px; top:9px;
            }
        }
    }
}

.icon {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-left:-30px;

    li {
        position:relative;
        margin-left:15px;
        &:nth-child(2):after {
            width:4px;
            height:4px;
            border-radius:50%;
            content:"";
            background-color:red;
            position:absolute;
            top:30px;
            right:10px;
        }
        &:last-child {
            img {
                border-radius: 50%;
            }
        }
            img {
                border-radius: 50%;
                width:25px;
                height:25px;
            }
    }
}

/* main css */

main {
    width:60%;
    height:auto;
    margin:auto;
    margin-top:55px;
}

.main-left {
    width:60%;
    height:auto;
    margin-right:30px;
}

.story {
    width:100%;
    height:120px;
    background-color:#fff;
    margin-top:90px;
    margin-bottom:30px;
    border:1px solid #ddd;

    .story-wrap {
        padding-top:20px;
        display:flex;
        justify-content:flex-start;
        align-items:center;
        overflow: hidden;
        position:relative;

        li {
            height:80px;
            margin-left:20px;
            transition:all 3s;
            position: relative;
            &:first-child{
                margin-left:20px;
            }
            &:after {
                width:64px;
                height:64px;
                border:1px solid #ddd;
                border-radius: 50%;
                content:"";
                position:absolute;
                top:-3px; left:-3px;
            }
            img {
                width:100%;
                width:60px;
                height:60px;
                border-radius:50%;
                margin-bottom:5px;
            }

            .story-id{
                font-size:13px;
                text-align:center;
                color:#888;
            }
        }

        .next {
            width:25px;
            height:25px;
            position:absolute;
            transform: translateX(50%);
            left:90%;
            background-color:#fff;
            border-radius: 50%;
            z-index:5;
            text-align:center;
            box-shadow: 0.5px 0.5px 0.5px 0.5px #888;

            svg {
                color:#ddd;
                margin-top:5px;
            }
        }
    }
}

.feeds {
    width:100%;
    height:auto;
    border:1px solid #ddd;
    background-color:#fff;
    margin-top:30px;

    article {
        width:100%;
        height:auto;

        .feeds-header {
            width:100%;
            height:55px;
            display:flex;
            justify-content: space-between;
            align-items: center;
        }

        .feeds-idwrap {
            width:100%;
            height:inherit;

            ul{
                width:22%;
                height:inherit;
                display:flex;
                justify-content: space-between;
                align-items: center;

                .mini-profile {
                    margin-left:20px;

                    img{
                        width:30px;
                        height:30px;
                        border-radius: 50%;
                    }
                }

                .mini-id {
                    font-weight: 600;
                    font-size:16px;
                    margin-left:20px;
                    color:#000;
                }
            }
        }

        .more {
            margin-right:20px;
            font-size:15px;
            cursor:pointer;
        }

        img {
            width:100%;
            height:auto;
        }

        .feeds-bottom {
            width:100%;
            height:auto;

            .feeds-bottom-flex{
                width:95%;
                height:45px;
                margin:auto;
                display:flex;
                justify-content:space-between;
                align-items: center;

                .feeds-icon {

                    .feeds-iconbox{
                        width:100%;
                        height:40px;
                        display:flex;
                        justify-content:space-between;
                        align-items: center;
    
                        li {
                            margin-left:20px;
                            &:first-child{
                                margin-left:0;
                            }
    
                            button {
                                background-color:#fff;
                                border:none;
                
                                svg {
                                    font-size:22px;
                                }
                            }
                        }   
                    }
                }

                .bookmark {
                    button {
                        background-color:#fff;
                        border:none;
        
                        svg {
                            font-size:22px;
                        }
                    }
                }
            }

            .heart-count {
                width:94%;
                margin:auto;
                height:30px;
                margin-bottom:10px;

                img {
                    width:25px;
                    height:25px;
                    border-radius:50%;
                    float:left;
                }

                p {
                    line-height:25px;
                    margin-left:30px;

                    span {
                        font-weight:700;
                    }
                }
            }

            .content-write {
                width:94%;
                margin:auto;

                li {
                    margin-bottom:10px;

                    .chat-id {
                        font-weight:700;
                        margin-right:10px;
                    }
                }
            }

            .time {
                font-size:12px;
                margin:15px 18px;
                color:#888;
            }
            
        }

        .comment-write {
            width:94%;
            height:auto;
            margin:auto;
            padding:5px 0;
            display:flex;
            align-items: center;
            border-top:1px solid #ddd;
        
            li{
                float:left;
                margin-right:20px;
                &:nth-child(2){
                    width:80%;
                }
                &:nth-child(3){
                    margin-right:0;
                }
        
                svg {
                    font-size:30px;
                }
        
                input {
                    width:100%;
                    height: 40px;
                    border:none;
                    font-size:20px;
                    outline:none;
                    &::placeholder{
                        font-size:14px;
                    }
                }
        
                .submit {
                    background-color:#fff;
                    border:none;
                    font-size:16px;
                    color:#0094f64b;
                    cursor: pointer;
                }
            }
        }
    }
}

               

/* main-right style */

.main-right {
    max-width:22%;
    height:600px;
    margin-top:90px;
    position:fixed;
    top:0;
    right:20%;

    .recommend-header {
        margin-top:5px;
        width:100%;
        height:100px;
        display:flex;
        justify-content:space-between;
        align-items: center;

        li {
            position:relative;
            &:first-child {
                &:after {
                    width:64px;
                    height:64px;
                    border:1px solid #ddd;
                    border-radius: 50%;
                    content:"";
                    position:absolute;
                    top:-3px; left:-3px;
                }
            }

            .recommend-header-flex {
                display:flex;
                justify-content: flex-start;
                align-items: center;

                li {
                    
                    img {
                        width:100%;
                        width:60px;
                        height:60px;
                        border-radius:50%;
                        margin-bottom:5px;
                    }

                    .recommend-header-id {
                        font-weight:700;
                        margin-left:10px;
                    }
                }
            }
        }

        .log-out {
            float:right;
        }
    }
}

.recommend-blue{
    font-size:12px;
    font-weight:600;
    color:#0094f6;
    text-align:right;
}

.recommend-title {
    width:100%;
    height:40px;
    margin-bottom:5px;

    .recommend-title-left {
        float:left;
        font-size:14px;
        color:#888;
        font-weight:700;
    }

    .recommend-title-right {
        float:right;
        font-size:12px;
        font-weight:600;
    }
}

.friend-list {
    width:100%;
    height:auto;

    ul {
        display:flex;
        justify-content: space-between;
        align-items:center;
        position:relative;

        li {
            margin-bottom:10px;
            &:nth-child(2) {
                position:absolute;
                left:15%;
            }
            
            .friends-follow {
                margin-top:6px;
                font-size:13px;
                color:#888;
            }


            img {
                width:40px;
                height:40px;
                border-radius: 50%;
                margin-top:2px;
                margin-right:20px;
            }
        }
    }
}
/* footer */

footer {
    width:100%;
    height:70px;

    ul {
        width:90%;
        margin-top:20px;

        li {
            font-size:12px;
            color:#888;
            margin-bottom:10px;
            position:relative;
            padding-left:5px;
            padding-right:10px;
            display:inline-block;

            &::after {
                width:3px;
                height:3px;
                border-radius: 50%;
                position:absolute;
                top:25%; left:95%;
                content:"";
                background-color:#888;
            }

            &:nth-child(6) {
                &::after {
                    display:none;
                }
            }
            
            &:last-child {
                &::after {
                    display:none;
                }
            }
        }
    }

    .made {
        font-size:12px;
        color:#888;
    }
}