@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing:border-box;
}

body {
    background-color:#fafafa;
}

/* main css */

main {
    width:60%;
    height:auto;
    margin:auto;
    margin-top:55px;
}

