@import '../../styles/variable.scss';

.recommendAccount {
  display: flex;
  margin: 0;
  padding: 0.5rem 0;
  justify-content: space-between;
  align-items: center;

  span {
    margin: 0;
    font-weight: 600;
  }

  div {
      width: 70%;
      span:last-child {
          font-size: 0.75rem;
          color: $gray;
      }
  }

  img {
      width: 2rem;
      border-radius: 50%;
  }
}