.iconWrap {
  width: 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
      height: 1.375rem;
  }

  .navIcon {
      width: 1.375rem;
      height: 1.375rem;
  }
}