/* main-right style */

.main-right {
    max-width:22%;
    height:600px;
    margin-top:90px;
    position:fixed;
    top:0;
    right:20%;
}

.recommend-blue{
    font-size:12px;
    font-weight:600;
    color:#0094f6;
    text-align:right;
}